.scanex-component-list .layer-list-item {
    padding: 10px;    
}
.scanex-component-list .layer-list-item > * {
    margin-right: 10px;
    cursor: pointer;    
}
.scanex-component-list .layer-list-item > .layer-id {
    width: 200px;
}
.scanex-component-list .layer-list-item > .layer-name {
    width: 150px;
}